[Unit]
Description=Apply audio filters to devices

# Start only after the following are fully up
After=graphical-session.target pipewire.service pipewire-pulse.service

# Hard dependency.
# If this fails, we fail.
# If this stops, we also stop.
Requires=graphical-session.target pipewire.service pipewire-pulse.service

# # Soft dependency.
# # If this fails, we can still start
# Wants=graphical-session.target pipewire.service pipewire-pulse.service

# Stop when the following stops
PartOf=graphical-session.target

# # Enforce graphical environments to be set
# # wayland side
# ConditionEnvironment=WAYLAND_DISPLAY
# # x11 side (wayland will set this too)
# ConditionEnvironment=DISPLAY

[Service]
Type=simple
ExecStart=/home/timmy/.local/lib/easyeffects/delayed_start
Restart=on-failure
RestartSec=3

[Install]
WantedBy=graphical-session.target
