[Unit]
Description=Apply audio filters to devices
After=pipewire-pulse.service
BindsTo=pipewire-pulse.service
PartOf=pipewire-pulse.service
After=default.target

[Service]
Type=simple
ExecStart=easyeffects --gapplication-service
Restart=on-failure
RestartSec=3

[Install]
WantedBy=sound.target
