@use '../colors.scss';

.bar {
    background: transparent;
    color: colors.$foreground;
}

.module {
    min-height: 24px;
    padding: 0 8px;
    border-radius: 12px;
    background: rgba(colors.$background, 0.66);
}

window.bar>box {
    margin: 4px 4px 0px 4px;
}

/* Fix strange issue where there's a 1px margin */
window#bar-1>box {
    margin-bottom: -1px;
}

.workspaces button {
    background: transparent;
    border-radius: 12px;
    padding: 0 8px;
}

.workspaces button.focused {
    padding: 0 16px;
    background: rgba(colors.$color3, 0.66)
}

.workspaces button:hover {
    background: rgba(colors.$color11, 0.66)
}

.tray.module {
    padding: 0 0;
}

.tray button {
    background: transparent;
    border-radius: 12px;
    padding: 0 8px;
}

.tray button:hover {
    background: rgba(colors.$color8, 0.66)
}
