/* Special */
$background: #010204;
$foreground: #E6E6E6;
$cursor: #E6E6E6;

/* Colors */
$color0: #010304;
$color1: #6E4E3E;
$color2: #4B6963;
$color3: #836058;
$color4: #4B7782;
$color5: #AB575D;
$color6: #67798B;
$color7: #D3D3D4;
$color8: #939494;
$color9: #805844;
$color10: #567971;
$color11: #895F56;
$color12: #4A8392;
$color13: #E4747C;
$color14: #89A1B9;
$color15: #D3D3D4;
