/* Special */
$background: #100719;
$foreground: #FFF1FA;
$cursor: #FFF1FA;

/* Colors */
$color0: #2C2136;
$color1: #A10052;
$color2: #00994F;
$color3: #CBCF00;
$color4: #0075FF;
$color5: #FF0096;
$color6: #00F4FF;
$color7: #FFF1FA;
$color8: #4F4657;
$color9: #A10052;
$color10: #00994F;
$color11: #CBCF00;
$color12: #0075FF;
$color13: #FF0096;
$color14: #00F4FF;
$color15: #FFF1FA;
