/* Special */
$background: #111211;
$foreground: #F3FDF8;
$cursor: #F3FDF8;

/* Colors */
$color0: #3B3C3B;
$color1: #5E6844;
$color2: #92524A;
$color3: #897253;
$color4: #5B8274;
$color5: #92815B;
$color6: #85BA9E;
$color7: #E6F3EC;
$color8: #A1AAA5;
$color9: #6B784C;
$color10: #AF5D53;
$color11: #95774E;
$color12: #578776;
$color13: #C2AC7A;
$color14: #B2F8D2;
$color15: #E6F3EC;
